<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="ShareFile API Test">
            <file>tests/TestClient.php</file>
            <file>tests/TestShareFileApi.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <const name="HOSTNAME" value="hostname.sharefile.com"/>
        <const name="CLIENT_ID" value="api_client_id"/>
        <const name="CLIENT_SECRET" value="api_secret"/>
        <const name="USERNAME" value="john@doe.com"/>
        <const name="PASSWORD" value="password"/>
    </php>
</phpunit>
